.mypage__greeting--ttl {
    display: flex;
    margin: 40px 0 10px 0;
}

.greeting__name {
    margin-left: 15px;
    font-weight: bold;
    font-size: 130%;
}

.mypage__main {
    display: flex;
    width: 100%;
}

.mypage__menu {
    width: 25%;
    margin-top: 10px;
}

.mypage__menu--ttl,
.mypage__content--section {
    margin: 20px 30px;
}

.mypage__menu--item,
.mypage__content--item {
    margin-bottom: 15px;
    padding: 5px 20px;
    font-weight: bold;
    font-size: 110%;
}

.mypage__menu--item:hover {
    color: #2988bc;
    cursor: pointer;
}

.mypage__menu--item.active {
    color: #fff;
    background-color: #2988bc;
    border: none;
    border-radius: 5px;
}

.mypage__content {
    width: 75%;
    margin-top: 10px;
}

.mypage__shop {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
}

.mypage__shop .shop__list--card {
    width: 250px;
    margin: 0;
}

.mypage__form {
    width: 450px;
    background: #2988bc;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    color: #fff;
    font-size: 90%;
    margin-bottom: 20px;
    padding: 20px;
}

.mypage__form--ttl {
    display: flex;
}

.mypage__form-edit {
    background: #50a6d5;
    border-radius: 5px;
    padding: 25px 15px 10px 15px;
}

.mypage__history--content {
    margin-top: 15px;
}

.mypage__form--bottom {
    margin: 10px 0;
    text-align: center;
}

.mypage__form--edit-icon {
    padding: 5px 10px;
    background: #2988bc;
    color: #fff;
    font-size: 100%;
    border: none;
    cursor: pointer;
}

#selectDate {
    width: 100%;
    margin: 2px 10px;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

#selectText {
    width: 160%;
    margin: 2px 10px;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

#selectTime,
#selectNumber {
    width: 60%;
    margin: 2px 10px;
    padding: 7px;
    border-radius: 5px;
    border: none;
}

.mypage__form--save-icon {
    width: 100%;
    padding: 5px;
    text-align: center;
    background: #2f496e;
    color: #fff;
    font-size: 100%;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.form__error {
    text-align: left;
    color: #ffe3e3;
}

.mypage__form--qr-code {
    padding: 10px;
    text-align: center;
}

.star-rating {
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 130%;
    margin: 0 1px;
    padding: 5px 1px;
}

.reservation__form--comment textarea {
    width: 100%;
    height: 100px;
    border: none;
    border-radius: 5px;
    margin: 5px 1px;
    resize: none;
}

.data-table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 5px;
}

.data-table thead {
    background-color: #2988bc;
    color: #fff;
    border-radius: 5px;
    padding-left: 20px;
}

.data-table th,
.data-table td {
    border: none;
    padding: 6px;
    padding-left: 20px;
    text-align: left;
}