.mypage__greeting--ttl {
    display: flex;
    margin: 40px 0 10px 0;
}

.greeting__name {
    margin-left: 15px;
    font-weight: bold;
    font-size: 130%;
}

.mypage__main {
    display: flex;
    width: 100%;
}

.mypage__menu {
    width: 25%;
    margin-top: 10px;
}

.mypage__menu--ttl,
.mypage__content--section {
    margin: 20px 30px;
}

.mypage__menu--item,
.mypage__content--item {
    margin-bottom: 15px;
    padding: 5px 20px;
    font-weight: bold;
    font-size: 110%;
}

.mypage__menu--item:hover {
    color: #2988bc;
    cursor: pointer;
}

.mypage__menu--item.active {
    color: #fff;
    background-color: #2988bc;
    border: none;
    border-radius: 5px;
}

.mypage__content {
    width: 75%;
    margin-top: 10px;
}

.mypage__content--section {
    display: none;
}

.mypage__shop {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
}

.mypage__shop .shop__list--card {
    width: 250px;
    margin: 0;
}



.mypage__form {
    width: 50%;
    background: #2988bc;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    color: #fff;
    font-size: 90%;
    margin-bottom: 10px;
    padding: 20px;
}

.mypage__form--ttl {
    display: flex;
}

.mypage__history {
    margin-top: 15px;
}

.mypage__history--text {
    padding: 5px 5px;
}

.mypage__form--bottom {
    margin-top: 10px;
    text-align: right;
}

.mypage__form--edit-icon {
    padding-left: 15px;
}