.greeting__name {
    font-size: 120%;
    font-weight: bold;
    margin-bottom: 20px;
}

.mypage__content {
    display: flex;
    justify-content: space-between;
}

.mypage__status {
    flex: 1;
}

.mypage__favorite {
    flex: 2;
    margin: 0 30px;
}

.mypage__shop {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: flex-start;
    margin-top: -10px;
}

.mypage__shop .shop__list--card {
    width: 280px;
    margin: 10px 0;
}

.mypage__main--ttl {
    font-size: 110%;
    font-weight: bold;
    margin-bottom: 20px;
}

.mypage__form {
    background: #2988bc;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    color: #fff;
    font-size: 90%;
    margin-bottom: 20px;
    padding: 20px;
}

.mypage__form--ttl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0 15px 0;
}

.mypage__form--icon {
    margin-right: 15px;
}

.mypage__history--text {
    padding: 5px 5px;
}

.mypage__form--close {
    margin-left: auto;
}