.review__main {
    display: flex;
    padding-bottom: 20px;
    width: 100%;
}

.shop__data {
    border-right: 1px solid #999;
    flex: 2;
    height: 30%;
    padding: 40px;
}

.review__form {
    flex: 3;
    margin-left: 70px;
}

.review__main h1,
.review__main h2,
.review__main h5 {
    font-weight: normal;
}

.review__main h1 {
    margin-bottom: 50px;
}

.review__main h2 {
    margin-bottom: 5px;
}

.review__main h5 {
    margin-top: 0;
    margin-right: 10%;
    text-align: right;
}

.rate-form {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.rate-form input[type=radio] {
    display: none;
}

.rate-form label {
    position: relative;
    padding: 0 5px;
    color: #999;
    cursor: pointer;
    font-size: 35px;
}

.rate-form label:hover {
    color: #2988bc;
}

.rate-form label:hover~label {
    color: #2988bc;
}

.rate-form input[type=radio]:checked~label {
    color: #2988bc;
}

.textarea__review {
    position: relative;
}

.placeholder {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #999;
    pointer-events: none;
}

.auto-bg {
    background-color: transparent;
    font-size: 120%;
    height: 150px;
    resize: none;
    width: 90%;
}

/* フォーカス時の背景色とプレースホルダーの非表示 */
.auto-bg.focused,
.auto-bg.has-content,
textarea:focus {
    background-color: #fff;
}

/* フォーカスが当たったときにプレースホルダーを非表示にする */
textarea:focus+.placeholder {
    display: none;
}

.dropArea {
    background-color: #fff;
    border: none;
    cursor: pointer;
    height: 150px;
    padding: 10px;
    position: relative;
    width: 90%;
}

.dropArea input {
    display: none;
}

#clickToAdd,
#imagePreview {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#clickToAdd {
    z-index: 1;
    /* プレビュー画像より手前に表示 */
}

#imagePreview img {
    max-width: 100%;
    max-height: 100%;
}

.submit__button {
    margin-top: 50px;
    margin-left: -90%;
    text-align: center;
}

.submit__button button {
    background-color: #fff;
    border: none;
    border-radius: 30px;
    color: #000;
    cursor: pointer;
    font-size: 100%;
    padding: 10px 20px;
    width: 40%;
}

/* バリデーションエラー表示 */
.form__error {
    margin: 0 0 10px 5px;
    text-align: left;
    font-size: 90%;
    color: #d1522f;
}

.form__error2 {
    margin: 10px 0 10px -90%;
    text-align: center;
    font-size: 90%;
    color: #d1522f;
}